{% extends 'base.html.twig' %}

{% block title %}Hello FormPage!
{% endblock %}

{% block body %}
	<h1>Form v3! ✅</h1>
	{# {{form(form)}} #}
	{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
	{{form_start(form,{'method':'POST','attr':{'novalidate':'novalidate'}})}}
	{{form_errors(form)}}
	<div>
		{{form_errors(form.message)}}
		{{form_row(form.message,{'label':'Comment','attr':{'maxlength':10}})}}
	</div>
	<div>
		{{form_errors(form.email)}}
		{{form_row(form.email)}}
	</div>
	{{form_end(form)}}
{% endblock %}
