<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
	<div class="container">
		<a class="navbar-brand" href="{{path('index')}}">Symfony Form</a>

		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{path('category_index')}}">Categories</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('contacts-v1')}}">Contacts v1</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('contacts-v2')}}">Contacts v2</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('contacts-v3')}}">Contacts v3</a>
			</li>
		</ul>
	</div>
</nav>
